*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
/* Classi comuni */
.app{
    position: relative;
    height: 100vh;
}
.absolute{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.horizontal{
    display:flex;
}

.vertical{
    display:flex;
    flex-direction: column;
}
.img-container{
    width: 55px;
    
    
}
.profile-pic{
    width: 100%;
    border-radius: 50%;
}

.underline{
    text-decoration: underline;
}
/* background */
.green-screen{
    height: 20vh;
    background-color: #009688;
}
.gray-screen{
    height: 80vh;
    background-color: #d7dbd6;
}

/* app */
.application{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    width: 80%;
    min-width: 1000px;
    height: 95%;
    background-color: white;
    
}

/* contact-side */

.contacts-container{
    width: 35%;
    height: 95vh;
    border-right: 1px solid #cfcfcf;
}

/* profile */

.profile, .chat-info{
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}
.personal-profile, .profile-info{
    margin: .5em .8em;
    align-items: center;
}
.profile-name{
    padding-left:3px ;
}
 /* options */
 .options{
    margin-right: .8em;
    font-size: 24px;
    color: #b1b1b1;
 }
 .options i{
    padding: 0 .3em;
 }
 /* alert notifiche */


 .desktop-notification{
    background-color: #8edafc; 
    align-items: center;
    padding: 1em;
 }
 .icon{
    border-radius: 100%;
    width: 45px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5em;
 }
 .icon i{
    color: #8edafc;
    font-size: 18px;
 }

 .normal-text{
    font-size: 14px;
 }
 .small-text{
    font-size: 12px;
     
 }
 a.small-text{
    color: #5a879b;
 }


 /* Search-bar */
.input-container{
    background-color: #fafafa;
}
.search-bar{
    font-size: 14px;
    width: calc(100% -  1em);
    height: 2.5em;
    margin: .5em auto;
    border: 1px solid #f5f5f5;
    align-items: center;
}
#search-contact{
    width: 85%;
    border: none;
    height: 2.4em;
}
.search-bar i{
    padding: 0 7.5%;
    color:#b1b1b1;
}

 /* contatti */
 .main-contacts{
    height: calc(100% - 186px - 1em);
    overflow-y:scroll;
 }
 .contact{
     border-top: 1px solid #e9ebeb;
    padding: .6em;
    justify-content: space-between;
 }
 .info-contact{
     padding: 0 1.2em;
     align-items: flex-start;
 }
.name{
    font-size: 18px;

    padding-bottom: 2px ;
}
.contact .small-text{
    color: #b6b9bb;
}

.active{
    background-color: #e9ebeb;
}


/* Chat container */

.chat-container{
    width: 65%;
    height: 95vh;
}
.chat-info{
}
