*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
/* Classi comuni */
.app{
    position: relative;
    height: 100vh;
}
.absolute{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.horizontal{
    display:flex;
}

.vertical{
    display:flex;
    flex-direction: column;
}
.img-container{
    width: 55px;
    
    
}
.profile-pic{
    width: 100%;
    border-radius: 50%;
}

.underline{
    text-decoration: underline;
}
/* background */
.green-screen{
    height: 20vh;
    background-color: #009688;
}
.gray-screen{
    height: 80vh;
    background-color: #d7dbd6;
}

/* app */
.application{
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    width: 80%;
    min-width: 1000px;
    height: 95%;
    background-color: white;
    
}

/* contacts */

.contacts-container{
    width: 35%;
    height: 95vh;
    border-right: 2px solid #cfcfcf;
}

/* profile */

.profile{
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
}
.personal-profile{
    margin: .5em .8em;
    align-items: center;
}
.profile-name{
    padding-left:3px ;
}
 /* options */
 .options{
    margin-right: .8em;
    font-size: 24px;
    color: #b1b1b1;
 }
 .options i{
    padding: 0 .3em;
 }
 /* alert notifiche */


 .desktop-notification{
    background-color: #8edafc; 
    align-items: center;
 }
 .icon{
     border-radius: 100%;
     height: 50%;
     background-color: white;
 }